@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #111827;
  /* background-color: #e5e7eb; */
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #111827;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}



.font-rubik {
  font-family: "Rubik", sans-serif;
  /* font-family: "Plus Jakarta Sans", sans-serif; */
}

.font-jukarta {
  /* font-family: "Rubik", sans-serif; */
  font-family: "Plus Jakarta Sans", sans-serif;
}

.main-color {
  color: #111827;
}

.second-color {
  color: #374151;
}



input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* makes icon black if it's white */
}

/* 
* {
  outline: 1px solid red;
} */

@keyframes modalFadeScale {
  0% {
    opacity: 0;
    transform: scale(0.92) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-modal {
  animation: modalFadeScale 0.25s ease-out;
}